<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/templates/style.css">
    <title>Ma page d'affichage</title>
</head>
<body>
    <div class="presentation">

        <h1>{{company-name}}</h1>
        <p>Bonjour à tous et bienvenue ! </p>
        <p>A {{company-name}},
        nous crééons un.e {{productAdjective}}.e {{productName}}
        qui est fait avec, comme matériel: {{productMaterial}}.</p>
        <a href="/">{{url}}</a>
    </div>

    <section class="info-product">
        <div>
            <img src="/img/Logo_IoT_Valley.png" alt="logo iot valley" height="70px" width="70px">    
        </div>
        <div class="info">
            <h4>{{productName}}</h4>
            <p>Matériel: {{productMaterial}}</p>
            <p>Couleur: {{color}}</p>
            <p><strong>Prix: {{price}}</strong></p>
        </div>
    </section>
    <section class="contact-info">
            <img src="/img/sid.jpg" alt="logo iot valley" height="70px" width="70px">    
        <h2>{{nom}}</h2>

        <h3>{{job}}</h3>
        <p>Pour me contacter:</p>
        <p>{{mail}}</p>
        <p>{{tel}}</p>
        <p>{{adresse}}</p>

    </section>
</body>
</html>